* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
header {
    height: 100px;
    display: flex;
    /*flex-direction: row;
    flex-wrap: nowrap;*/
    flex-flow: row nowrap;
    justify-content: space-between; /*alinea los flex-items en el eje principal que marca flex direction*/
    /*align-items: alinea los flex-items(hijos) en el eje secundario*/
}

header figure {

    width: 5%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

header figure img{
    height: 70%;

}

header #middle {
    width: 60%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    
}
header #middle *{
    
}
header #middle nav{
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

}
header #middle nav a{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    width: 18%;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    transition: 1s all;
    
}

header #middle nav a:hover {
    background-color: rgba(0,0,0,.3);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header #middle nav a i {
    width: 20%;
}

header #middle nav a i:hover{
    order: 1;
}

header #middle nav a span{
}

header #registro {
    width: 25%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-end;

}
header #registro #enlaces {
    width: 90%;
}
header #registro i{
    font-size: 24px;
    width: 10%;
    border: 0px solid black
}
header #registro #enlaces a{
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
}
main{
    height: 500px;
    background-color:;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
main nav{
    height: 200px;
    width: 15%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    /*align-items: center;*/
}

main nav a{
    display: flex;
    width: 100%;
    background-color: grey;
    flex-flow: row nowrap;
    justify-content: flex-start;
    text-decoration: none;
    font-size: 20px;
}
main nav a:hover{
    background-color: rgb(255,0,0,.3);
}
main nav span{
    width: 60%;

}
main #middle{
    height: 400px;
    background-color: yellow;
    width: 65%;
    display: flex;
    flex-flow: row wrap;
}

main #middle .ordenador{
    border: 2px solid black;
    width: 30%;
    
}
main #middle .ordenador figure{
    width: 90%;
}
main #middle .ordenador figure img{
    width: 100%;
}
main aside{
    height: 400px;
    background-color: blue;
    width: 15%;

}

footer{
    height: 200px;
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
}

footer #mapa{
    background-color: rgb(255, 0, 0);
    height: 100%;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

footer #mapa a{
    background-color: pink;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

footer #sociales {
    height: 100%;
    width: 50%;
    background-color: yellow;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

}
footer #sociales a{
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: pink;


    
}
/*footer #sociales a span {
    display: flex;
    flex-direction: column;
